{% extends 'default/entity.html.twig' %}

{% block title %}{{ 'title.organization.edit %name%'|trans({'%name%': organization.label}) }} · {{ parent() }}{% endblock title %}

{% block headline %}
    <h1>
        <span class="fa fa-building"></span>
        {{ 'title.organization.edit %name%'|trans({'%name%': organization.label}) }}
    </h1>
{% endblock %}

{% block content_settings %}{% include 'organization/_form.html.twig' %}{% endblock content_settings %}

{% block content_action %}{% include 'organization/_content-action.html.twig' %}{% endblock content_action %}
