{% extends 'default/entity.html.twig' %}

{% block title %}{{ 'title.organization.create'|trans }} · {{ parent() }}{% endblock title %}

{% block headline %}
    <h1>
        <span class="fa fa-building"></span>
        {{ 'title.organization.create'|trans }}
    </h1>
{% endblock %}

{% block content_settings %}{% include 'organization/_form.html.twig' %}{% endblock content_settings %}
