{{ form_start(form) }}
{{ form_row(form.name) }}
<button class="btn btn-primary" type="submit">
    <span class="fa fa-save"></span>
    {{ 'action.save.text' | trans }}
</button>
{{ form_end(form) }}
