{% extends 'default/_entity.html.twig' %}

{% block title %}{{ 'title.service.edit %name%'|trans({'%name%': service.label}) }} · {{ parent() }}{% endblock title %}

{% block headline %}
    <h1>
        <span class="fa fa-building"></span>
        {{ 'title.service.edit %name%'|trans({'%name%': service.label}) }}
    </h1>
{% endblock %}

{% block content_settings %}{% include 'service/_form.html.twig' %}{% endblock content_settings %}

{% block content_action %}{% include 'service/_content-action.html.twig' %}{% endblock content_action %}

