// assets/css/app.scss

// customize some Bootstrap variables
$primary: #f07d00;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

label.required {
  font-weight: bold;
  color: $primary;
}
label.required:after{
  content: "*";
  color: $primary;
}
.font-small{
  font-size: x-small;
}