{% extends 'default/_entity.html.twig' %}

{% block title %}{{ 'title.person.create'|trans }} · {{ parent() }}{% endblock title %}

{% block headline %}
    <h1>
        <span class="fa fa-building"></span>
        {{ 'title.person.create'|trans }}
    </h1>
{% endblock %}

{% block content_settings %}{% include 'person/_form.html.twig' %}{% endblock content_settings %}

{% block javascripts %}
    {{ parent() }}
    {% include '_javascript.html.twig' %}
{% endblock javascripts %}