{% use 'bootstrap_4_horizontal_layout.html.twig' %}

{% block form_row -%}
    {%- if (label is defined and 'field.address' in label) -%}
        {{ block('form_address') }}
    {%- else -%}
        {{ parent() }}
    {%- endif -%}
{%- endblock form_row %}

{% block form_address -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <fieldset class="form-group">
        <div class="row{% if (not compound or force_error|default(false)) and not valid %} is-invalid{% endif %}">
            <div class="col-sm-12">
                {{- form_widget(form, widget_attr) -}}
                {{- form_help(form) -}}
            </div>
        </div>
        {##}</fieldset>
{%- endblock form_address %}
